body {
  /* background-color: rgb(70, 69, 20); */
  background-image: linear-gradient(0.88turn,hsl(200, 35%, 25%),hsl(90, 14%, 3%));
  /* background-image: linear-gradient(hsl(251, 100%, 10%),hsl(0, 0%, 0%)); */
  background-attachment: fixed;
  margin: .3rem .8rem 9rem .3rem;
  /* overflow-y: scroll; */
  /* scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-scrollbar: */
  
}

section.page {
  height: 100rem;
}
.page {
  display: flex;
  width:100%;
  /* background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 252, 245)); */
  background-color: #fff;
  margin:auto;
  margin-bottom: .3rem;
  box-shadow: .2rem .2rem 3rem #ffffff0c;

}

.rounded {
  border-radius: 1rem;
  border: 3pt rgb(236, 236, 236) solid;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav {
  display: flex;
  height: 5rem;
  flex-direction: row; 
  /* background: red; */
  border-radius: 0rem 1rem 1rem 0rem;
  margin-right: 10vw;
}

input {
  height: 100%;
  border: 0px #fff solid;
  border-left: 3pt  rgb(243, 243, 243)  solid;
  background:none;
  font-size: 1.6rem;
  color:rgb(94, 108, 110);
  text-align: center;
  padding: 0rem 1rem 0rem 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 5000;
  /* background-color: red; */
}

input:last-child {
    border-right: 3pt  rgb(243, 243, 243)  solid;
}
